aside.control-panel.p-2
  input#searchInput.form-control.mb-3(
    type="text",
    placeholder="filter (i.e. food,art)",
    data-bind="event: { input: searchInputChange }, enterKey: searchInputEnter")
  ul.list-group(data-bind="foreach: visableListings")
    li.list-group-item.control-panel__listing(
      data-bind="text: title, click: $parent.controlPanelListingClick")
