ListingSearchbar(params="callback: initListingSearchbar").container-flex
main.container-flex
  div.row
    ControlPanel(params="callback: initControlPanel").col-4
  GoogleMap(params="callback: initMaps")
