ListingSearchbar(params="callback: initListingSearchbar").container-flex
main.container-flex
  div.row(style="padding-right: 30px")
    ControlPanel(params="callback: initControlPanel").col-lg-4
  GoogleMap(params="callback: initMaps")
