nav.navbar.text-center
  strong(style="margin:auto").navbar__title OsakaSpots
main.container-flex
  div.row
    controlpanel(params="callback: initControlPanel").col-4
  googlemap(params="callback: initMaps")
