nav.navbar
  .listingSearchbar#listingSearchbar
    div.listingSearchbar__cursor
    input.listingSearchbar__input#searchInput(
      type="text",
      placeholder="Search OsakaSpots (i.e. ramen, onsen)",
      data-bind=`event: { input: searchInputChange, focusin: startTimer,
      focusout: stopTimer }, enterKey: searchInputEnter`,
      autofocus)
