nav.navbar.listingSearchbar
  input.listingSearchbar__input#searchInput(
    type="text",
    placeholder="filter (i.e. food,art)",
    data-bind="event: { input: searchInputChange }, enterKey: searchInputEnter",
    autofocus)
