nav.container.text-center.mt-3.mb-3
  strong OsakaSpots
main.container
  div.row
  aside.col-4
    input.form-control(type="text", placeholder="filter (i.e. food, art)").mb-3
    ul.list-group
     li.list-group-item Cras justo odio
  div#map.col-8
